<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bela Vista Imóveis</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="cabecalho">
        <a class="cabecalho__anchor" href="/">
            <div class="cabecalho__div__logo-e-nome">
                <img class="cabecalho__img__logo-e-nome__logo" src="/img/logo.svg" alt="Logo da Bela Vista Imóveis">
                <p class="cabecalho__p__logo-e-nome__nome">BELA VISTA IMÓVEIS</p>
            </div>
        </a>
        <nav class="cabecalho__nav__menu">
            <img id="burguer" class="cabecalho__img__menu-hamburguer cabecalho__img__menu-hamburguer-toggle" src="img/hamburger-menu.svg" alt="Menu de opções">
            <menu>
                <ul class="cabecalho__menu__menu-hamburguer__itens cabecalho__menu__menu-hamburguer__itens-toggle" id="itens">
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-inicio"><a class="btn-contato__anchor" href="/">INÍCIO</a></button></li>
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-contato"><a class="btn-contato__anchor" href="/contato">CONTATO</a></button></li>
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-quem-somos"><a class="btn-contato__anchor" href="/quemsomos">QUEM SOMOS</a></button></li>
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-casa-a-venda link-de-filtro" id="linkFiltrarCasasAVenda" value="casa"><a class="btn-contato__anchor" href="/casas">CASAS À VENDA</a></button></li>
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-casas-para-aluguel link-de-filtro" id="linkFiltrarCasasParaAluguel" value="aluguel"><a class="btn-contato__anchor" href="/aluguel">CASAS PARA ALUGUEL</a></button></li>
                    <li class="nav__itens__item"><button class="nav__itens__item__btn btn-terrenos link-de-filtro" id="linkFiltrarTerrenos" value="terreno"><a class="btn-contato__anchor" href="/terrenos">TERRENOS</a></button></li>
                </ul>
            </menu>
        </nav>
    </header>
