<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Bela Vista Imóveis</title>
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="principal">
    <div class="caixa_logo__imagem_e_texto">
        <a class="anchor__cabecalho__div__logo-e-nome" href="/">
            <div class="cabecalho__div__logo-e-nome">
                <img class="logo_imagem" src="img/logo.svg" alt="Logo da Bela Vista Imóveis">
                <h1 class="logo_texto">BELA VISTA IMÓVEIS</h1>
            </div>
        </a>
    </div>

    <form class="formulario_de_contato" id="formulario-contato" action="">
        <div class="caixa__label_input">
            <label for="nome">Seu nome (obrigatório)</label>
            <input class="form__input" type="text" id="nome=" name="nome" required>
        </div>
        <div class="caixa__label_input">
            <label for="telefone">Seu telefone (obrigatório)</label>
            <input class="form__input" type="tel" id="telefone" name="telefone" required>
        </div>
        <div class="caixa__label_input">
            <label for="assunto">Assunto</label>
            <input class="form__input" type="text" id="assunto" name="assunto">
        </div>
        <div class="caixa__label_input">
            <label for="mensagem">Sua mensagem</label>
            <textarea class="form__textarea" name="mensagem" id="mensagem" rows="10" cols="50"></textarea>
        </div>

        <button id="btn_enviar" type="submit">Enviar</button>
    </form>

</body>

</html>