    <footer class="rodape">
        <p>Contato: (71) 99999-9999</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../../public/scripts/main.js"></script>
</body>

</html>
