<%- include('includes/head'); %>

    <main class="apresentacao">
        <section class="apresentacao__section__introducao">
            <h1 class="apresentacao__h1__introducao__titulo">A história do seu sonho começa aqui!</h1>
        </section>

        <h1 class="anuncios-em-destaque__h1__titulo">ANÚNCIOS EM DESTAQUE</h1>

        <section class="apresentacao__section__anuncios-em-destaque" id="imoveis">

        </section>

    </main>

<%- include('includes/footer'); %>
