<%- include('includes/head'); %>

    <h1>QUEM SOMOS</h1>

    <h2>Bela Vista Imóveis: Equipe especializada para te atender</h2>
    <p>Na Bela Vista Imóveis, você encontra uma equipe de profissionais altamente qualificados e experientes, prontos para te auxiliar em todas as suas necessidades imobiliárias. Nossos especialistas em imóveis residenciais e comerciais possuem amplo conhecimento do mercado local e estão sempre atualizados com as últimas tendências.</p>

    <h2>Oferecemos uma gama completa de serviços, incluindo:</h2>
    <ul>
        <li>Compra e venda de imóveis</li>
        <li>Locação de imóveis residenciais e comerciais</li>
        <li>Compra e venda de terrenos</li>
        <li>Avaliação de imóveis</li>
    </ul>

    <p>Conte com a Bela Vista Imóveis para encontrar o imóvel perfeito para você!</p>

<%- include('includes/footer'); %>
