<%- include('includes/head'); %>
<main class="principal_quem_somos">

    <h1>QUEM SOMOS</h1>
    <br>
    <h2>Nós da Bela Vista Imóveis somos uma equipe especializada para te atender!</h2>
    <p>Aqui na Bela Vista Imóveis, você encontra uma equipe de profissionais altamente qualificados e experientes, prontos para te auxiliar em todas as suas necessidades imobiliárias. Nossos especialistas em imóveis residenciais e comerciais possuem amplo conhecimento do mercado local e estão sempre atualizados com as últimas tendências.</p>
    <br>
    <h2>Oferecemos uma gama completa de serviços, incluindo:</h2>

    <ol>
        <li>Compra e venda de imóveis</li>
        <li>Locação de imóveis residenciais e comerciais</li>
        <li>Compra e venda de terrenos</li>
        <li>Avaliação de imóveis</li>
    </ol>
    <br>
    <p>Conte com a Bela Vista Imóveis para encontrar o imóvel perfeito para você!</p>

</main>
    
<%- include('includes/footer'); %>
