.cabecalho {
  background-color: var(--azul-celeste);
  display: flex;
  justify-content: space-between;
}

.cabecalho__div__logo-e-nome {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cabecalho__div__logo-e-nome__logo {
  width: 48px;
}

.cabecalho__menu__hamburguer {
  width: 48px;
}
