/* NOME E LOGO DA EMPRESA */
.cabecalho {
  background-color: var(--azul-celeste);
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid rgb(88, 88, 216);

  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  z-index: 99; /* Isso faz com que o carrossel não fique sobreponodo a lista do clique no menu hamburguer (#itens) */
}

.cabecalho__div__logo-e-nome {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.cabecalho__img__logo-e-nome__logo {
  width: 48px;
}

.cabecalho__p__logo-e-nome__nome {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

/* MENU HAMBÚRGUER*/
.cabecalho__nav__menu {
  position: relative;
}

.cabecalho__img__menu-hamburguer-toggle {
  width: 48px;
  background-color: var(--cor-de-fundo);
  padding: 10px;
}
.cabecalho__img__menu-hamburguer {
  width: 48px;
  background-color: var(--azul-celeste);
  padding: 10px;
}

.cabecalho__menu__menu-hamburguer__itens-toggle {
  display: block;
  position: absolute;
  right: 0rem;
  width: 13rem;
  border: 1px solid black;
}

.cabecalho__menu__menu-hamburguer__itens {
  display: none;
  position: absolute;
  right: 0rem;
  width: 13rem;
}

#itens > ul {
  z-index: 99;
}

.nav__itens__item {
  background-color: var(--cor-de-fundo);
  padding: 1rem;
}

.nav__itens__item__btn {
  border: none;
}
