.cabecalho {
  background-color: var(--azul-celeste);
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(88, 88, 216);
  
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
}

.cabecalho__div__logo-e-nome {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.cabecalho__div__logo-e-nome__logo {
  width: 48px;
}

.cabecalho__menu__hamburguer {
  width: 48px;
}

img#burguer {
  padding: 10px;
  cursor: pointer;
}

img#burguer:hover {
  background-color: var(--cor-de-fundo);
}

menu {
  display: none;
  position: absolute;
}

#itens {
  right: 0rem;
}

.menu__item {
  background-color: var(--azul-celeste);
  padding: 1rem;
}

.menu__item__link {
  text-decoration: none;
}
