.apresentacao {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-de-fundo);
  margin-top: 75px; /* Necessário após fixar a nav do header, caso contrário, fica por trás */
}

.caixa_introducao {
  display: flex;
  flex-direction: column;
  align-items: center;                  /* Alinha verticalmente*/
  justify-content: center;              /* Alinha horizontalmente*/
  background-color: var(--azul-bebe);
  height: 12vh;
}

.caixa_introducao__titulo {
  text-align: center;
  padding: 1rem;
}

#aviso_site_em_desenvolvimento {
  color: red;
  text-align: center;
  font-weight: 550;
}

/* SEÇÃO BREVES LANÇAMENTOS - IMÓVEIS 1 E 2*/
.apresentacao__breves-lancamentos__titulo {
  padding-top: 1.3rem;
  padding-left: 2rem;
  font-size: 1.3rem;
  font-weight: 550;
}

.apresentacao__breves-lancamentos__imovel1 {
  border: 1px solid black;
  border-radius: 8px;
  margin: 1rem 2rem;
}

.container_imagem_casa_1{
  display: flex;
  justify-content: center;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.apresentacao__breves-lancamentos__imovel1__imagem {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.texto-casa-a-venda {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 550;
  font-size: 1.3rem;
}

.casa-a-venda__nome-do-bairro {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 550;
}

.casa-a-venda__nome-da-rua {
  margin-left: 1.5rem;
}

.casa-a-venda__nome-da-cidade {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.imovel1__icones-de-informacoes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.caixa_icone_legenda {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icones_de_informacoes {
  width: 30px;
}
